

.a {
    background-color: rebeccapurple;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #343a40;
    color: white;
    color: black;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.nav {
    max-height: 75px;
}

.marquee {
    height: 35px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #e9e5fb;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px
}

    .marquee div {
        display: inline-block;
        width: 100%;
        height: 40px;
        position: absolute;
        overflow: hidden;
        animation: marquee 30s linear infinite;
    }

    .marquee span {
        float: left;
        width: 1100px;
    }

    .marquee:hover div {
        animation-play-state: paused;
    }

@keyframes marquee {
    0% {
        left: 0%;
    }

    100% {
        left: -1100px;
    }
}
html, body {
    font-size: 16px;
}

@media all and (max-device-width: 720px) {
    html, body {
        font-size: 20px;
    }
}

html, body {
    padding: 0;
    height: 100%;
}

#messages {
    border: 1px solid #ccc;
    height: 440px;
    float: none;
    margin: 0px auto;
    padding-left: 0px;
    overflow-y: auto;
}
.chat-container {
	width: 80%;
	max-width: 600px;
	margin: 20px auto;
	font-family: Arial, sans-serif;
}

.message {
	padding: 2px 4px;
	margin: 10px 0, 10px,0;
	border-radius: 20px;
	position: relative;
	color: CaptionText;
	font-size: 16px;
	font-size: large;
	height: min-content;
	font-weight: 600;
	width:  fit-content;	
	overflow:inherit;
	overflow-x: hidden;
	overflow-y:  auto; 
	backdrop-filter: blur(10px);
}

	.message.left {
		background: linear-gradient(343deg, #e9e5fb 0%, rgba(243,240,255,1) 50%, rgb(69, 82, 88, 0.70) 100%);
		align-self: flex-start;
	}

	.message.right {
		background: rgb(249,240,255);
		background: linear-gradient(343deg, rgba(249,240,255,1) 0%, rgba(190,186,215,1) 50%);
		align-self: flex-end;
	}

	.message::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
	}

	.message.left::after {
		top: 0;
		left: -10px;
		border-width: 10px 10px 0 0;
		border-color: rgba(58, 123, 213, 0.7) transparent transparent transparent;
	}

	.message.right::after {
		top: 0;
		right: -10px;
		border-width: 10px 0 0 10px;
		border-color: rgba(84, 199, 252, 0.7) transparent transparent transparent;
	}
	.message.left::before {
		content: "";
		position: absolute;
		top: -10px;
		left: 20px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(58, 123, 213, 0.3);
	}

	.message.right::before {
		content: "";
		position: absolute;
		top: -10px;
		right: 20px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(84, 199, 252, 0.3);
	}
.chat-box {
	display: flex;
	flex-direction: column;
}
#userlist {
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    height: 582px;
    float: none;
    margin-top: 0px;
    padding-left: 0px;
    overflow-y: auto;
}

textarea:focus {
    outline: none !important;
}

.system-message {
    background: #87CEFA;
    border-radius: 16px;
    padding: 10px 10px;
    margin-right: 2px;
    margin-left: 40px;
    width: fit-content;
     Adjust as needed 
    display: flex;
    flex-grow: 1;
    justify-items: flex-end;
     Additional styling for a chat bubble effect 
    box-shadow: 4px 4px 4px rgb(166, 173, 249);
}

.sessionlabel {
    font-size: 28px;
    padding: 8px;
    border: 1px solid #ccc;
    border-bottom-style: hidden;
    background-color: ivory;
    box-shadow: 0 4px 8px rgb(128, 128, 128);
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: border-box;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    max-width: contain;
    margin: 2.0rem;
}

.textarea {
    width: 100%;
    border-left-style: 1px solid #ccc;
    border-right-style: 1px solid #ccc;
}

.usercard {
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.currentusercard {
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: #d0d0d0;
}

.usercardname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    font-size: 24px;
    color: #606060;
}

.usercardmessage {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 18px;
    color: #a0a0a0;
}

.broadcast-message {
    display: inline-block;
    background: yellow;
    margin: auto;
    padding: 5px 10px;
}

.message-entry {
    overflow: auto;
    margin: 8px 0;
}

.message-avatar {
    display: inline-block;
    padding: 10px;
	margin-block-start: 10px;
    max-width: 10em;
    word-wrap: break-word;
}

.message-content {
    display: inline-block;
    background-color: #b2e281;
    padding: 10px;
    margin: 0.5em;
    max-width: calc(80%);
    word-wrap: break-word;
}

    .message-content.pull-left:before {
        width: 0;
        height: 0;
        display: inline-block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #b2e281;
        margin: 15px 0;
        border: 1px solid navy;
    }

    .message-content.pull-right:after {
        width: 0;
        height: 0;
        display: inline-block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #b2e281;
        margin: 15px 0;
        border: 1px solid green;
    }

.flashBackground {
    animation: flashAnimation 1s .5s ease-in-out ;
    border: 2px dashed gray;
    text-transform: uppercase;
    opacity: .5; 
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
}

.flash {
    animation: flashAnimation 0.5s infinite alternate;
    margin: auto;
}

.animate-text {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: border-box;
    animation-fill-mode: forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
    border-top: 2px dashed solid red;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes flashAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

.dotwrapper {
    display: flex;
    flex-direction: row;
}

.dot {
    height: 300px;
    width: 150px;
    background-color: #bbb;
    border-radius: 60%;
    display: inline-block;
    flex-grow: 2;
    padding-inline-start: 10px;
    overflow: auto;
    bottom: 0;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.fa-trash:hover {
    background: center;
    background-color: transparent;
    padding: 2px;
}

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

    .navbar-fixed-left .navbar-nav > li {
        float: none;
         Cancel default li float: left 
        width: 139px;
    }

    .navbar-fixed-left + .container {
        padding-left: 160px;
    }

     On using dropdown menu (To right shift popuped) 
    .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
        margin-top: -50px;
        margin-left: 140px;
    }

@media (max-width: 767px) {
    #userlist > li {
        transform: scale(.75);
        column-count: 2;
        display: flow ;
        justify-content: space-between; 
        margin: 2px; 
        padding: 2px;
    }
    
}
@keyframes wiggle {
    0%, 100% {
        transform: translateY(0) rotate(0);
    }

    25% {
        transform: translateY(-5px) rotate(-5deg);
    }

    50% {
        transform: translateY(5px) rotate(5deg);
    }

    75% {
        transform: translateY(-5px) rotate(-5deg);
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

 Apply the animation to the list items 

.animated-list li {
    animation: slideIn 0.5s ease forwards;
    display: block;  Display list items as a stack 
    margin-bottom: 10px;  Add spacing between items 
}


.active-list-item {
    border: 2px solid green;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     Add any other styling you need 
     Hover effect 
    position: relative;
}

    .active-list-item:hover::before {
        content: "Online";
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: blue;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .active-list-item:hover::before {
        opacity: 1;
    }




.collapseMessage {
    
    visibility: hidden;
}
    .collapseMessage.show {
        visibility: visible;
       
    }

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.55s;
    transition-duration: 0.55s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
#collapseMax {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    
}
.chatMsg {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 535px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

   